*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(154, 154, 140);
}


.content{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.229);
    margin: 0 auto;
    color: white;
    padding: 20px;
    
}



.bottone_trash{
    background-color: black;
    border: 2px solid black;
    border-radius: 7px;
}




.fa-trash, .fa-check, .fa-x{
    padding: 5px;
}

.bottone_add{
    background-color: rgb(47, 137, 47);
    border: 3px solid rgb(35, 99, 35) ;
    border-radius: 10px;
    color: white;
}

.text_bar{
    width: 500px;
    border-radius: 5px;
    border: 3px solid rgb(99, 96, 96);
}



.verde_completato{
    color: rgb(45, 176, 45);
}

.rosso_non_completato{
    color: rgb(204, 38, 38);
}


.bottone_xoxoxo{
    background-color: black;
    border: 2px solid black;
    margin-right: 5px ;
}